:root {
    --color-green: #76bc21;
    --background-black-opacity: rgb(0, 0, 0, 50%);
    --color-text: #262626;

    --breackpoint-m: 992px;
    --breackpoint-s: 768px;
}

.a.link {
    color: var(--color-green);
    fill: var(--color-green);
    text-decoration: none;
    transition: opacity 0.25s ease;
}

a.link:hover {
    opacity: 0.7;
}

.block-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    position: relative;

    bottom: 100px;

    height: 110vh;
    background: url("../image/backgroundhead.jpg") no-repeat center;
    background-size: cover;
    clip-path: polygon(50% 100%, 100% 88%, 100% 0, 0 0, 0 88%);
}

.header__background {
    position: absolute;
    height: inherit;
    width: 100%;
    
    z-index: 1;
}

.header-top {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 100px;

    background: var(--background-black-opacity);
    color: #fff;

    z-index: 3;
}

.header-top a.link {
    color: #fff;
}

.logo {
    width: 260px;
    font-size: 36px;
}

.menu-elements {
    display: inline-block;
    margin-right: 50px;
    font-size: 20px;
}
.menu-elements:last-child {
    margin-right: 0;
}
.menu-elements a.link.active, .menu-elements a.link:hover {
    color: var(--color-green);
}

.menu-elements__link.home {
    width: 24px;
    height: 24px;
}


.menu-hamburger {
    display: none;
}


.switcher-container {
    width: 260px;
}

.switcher {
    position: relative;
    display: flex;
    align-items: center;
    height: 35px;
    width: 90px;
    padding: 0 10px;

    background: var(--color-green);
    border-radius: 20px;
    
    opacity: 0.9;
    transition: opacity 0.25s ease;

    cursor: pointer;
}
.switcher:hover {
    opacity: 1;
}
.switcher:before {
    content: "";
    width: 40px;
    height: 30px;
    background: #fff;
    position: absolute;
    left: 45px;
    z-index: 1;
    border-radius: 20px;

    transition: left 0.25s ease-in-out;
}

#lang:checked + .switcher:before {
    left: 7px;
}
#lang:checked + .switcher span:first-child {
    color: var(--color-green);
}
#lang:checked + .switcher span:last-child {
    color: #fff;
}

.switcher span {
    flex: 1 1 50%;

    text-align: center;
    color: var(--color-green);

    z-index: 2;

    transition: color 0.25s ease-in-out;
}

.switcher span:first-child {
    color: #fff;
}

#lang {
    display: none;
}

.header-center {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
}

.header-center__wrapper {
    width: 100%;
    text-align: center;
    background: var(--background-black-opacity);
    padding: 20px 0 30px 0;
}

.name {
    font-size: 60px;
}

.description {
    display: inline-block;
    
    font-size: 20px;
    line-height: 1.5em;
    width: 40ch;
    letter-spacing: 3;
    overflow: hidden;

    font-family: Courier, monospace;

    border-right: 3px solid transparent;

    animation: cursor 0.75s 7, print-text 4s steps(60);
}

@keyframes cursor {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: #fff;
    }

    100% {
        border-color: transparent;
    }
}

@keyframes print-text {
    from {
        width: 0;
    }
}

.generalInfo {
    display: flex;
}

.generalInfo .left {
    flex: 1 1 50%;
    padding-right: 40px;
}

.generalInfo .right {
    flex: 1 1 50%;
}

.generalInfo__image {
    height: 500;
    width: 500;
    margin-left: 20%;

    animation: shadow 5s infinite linear;
}

@keyframes shadow {
    0%, 100% { filter: drop-shadow(0 5px 5px var(--background-black-opacity)); }
    12.5% { filter: drop-shadow(2px 5px 5px var(--background-black-opacity)); }
    25% { filter: drop-shadow(5px 5px 5px var(--background-black-opacity)); }
    37.5% { filter: drop-shadow(5px 2px 5px var(--background-black-opacity)); }
    50% { filter: drop-shadow(5px -5px 5px var(--background-black-opacity)); }
    62.5% { filter: drop-shadow(2px -5px 5px var(--background-black-opacity)); }
    75% { filter: drop-shadow(-5px -5px 5px var(--background-black-opacity)); }
    87.5% { filter: drop-shadow(-5px -2px 5px var(--background-black-opacity)); }
}

.generalInfo__title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 100px;
}

.description-generalInfo {
    font-size: 1.5em;
    color: var(--color-text);
    margin-bottom: 25px;
}

.hobby-skils {
    padding: 100px 0;
}

.second-title {
    position: relative;

    font-size: 32px;
    text-align: center;
    margin-bottom: 20px; 
}
.second-title:after {
    content: "";
    display: inline-block;
    width: 60px;
    height: 2px;
    background: var(--color-green);
    position: absolute;
    bottom: -7;
    left: calc(50% - 60px / 2);
}

.hobby__list {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
}

.hobby-skils__wrapper {    
    flex-direction: column;

    width: 30%;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}


.interest-image {
    width: 65%;
    height: 250px;
    margin-bottom: 20px;
}

.interest-title {
    margin-bottom: 15px;

    font-size: 24px;

    color: #000;
    font-weight: 700;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px, 0;
}

.social {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.social-element__link svg {
    transform: scale(2); /* Увеличивает размер на 50% */
}

.social-element:first-of-type {
    margin-right: 25px;
}

.social-element {
    color: var(--color-green);
}